*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pdf-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #5c5c5c;
    position: relative;
}

.pdf-link{
    width: 100%;
    height: auto;
    background: #313639;
    margin: 0;
    padding: 0;
    display: block;
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.mark-complete{
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    background-color: white;
}

.mark-complete:hover{
    background-color: lightcoral;
    cursor: pointer;
}

.pdf-window{
    width: auto;
    margin: 0;
    padding: 0;
    width : 20rem;
    height: 20rem;
    display: block;
    border: none;
}