.student-name{
    /* background-color: pink; */
    font-size: 3rem;
}

.student-objectives{
    display: flex;
    flex-wrap: wrap;
}

.objective-item{
    background-color: rgb(192, 225, 255);
    width: 20vw;
    aspect-ratio: 4/1;
    margin: 1rem;
    padding: 1.5rem;
    position: relative;
    cursor: pointer;
}

.selected-objective-item{
    background-color: darkgoldenrod;
    width: 20vw;
    aspect-ratio: 4/1;
    margin: 1rem;
    padding: 1.5rem;
    position: relative;
    cursor: pointer;
}

.remove-inprogress{
    position: absolute;
    left: 0;
    bottom: 0;
    border: 1px solid black;
    background-color: lightblue;
}

.remove-inprogress:hover{
    background-color: lightcoral;
    cursor: pointer;
}


.objective-complete-button{
    position: absolute;
    right: 0;
    bottom: 0;
    border: 1px solid black;
    background-color: lightblue;
}

.objective-complete-button:hover{
    background-color: orange;
    cursor: pointer;
}

.pdf-viewer{
    display: flex;
    /* background-color: pink; */
}

.submissions-grid{
    display: grid;
    grid-template-rows: 1fr * 10;
}

.submission-header-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.submission-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 2px solid black;
    /* width: max-content; */
}

.submission-id{
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.submission-score{
    border-right: 2px solid black;
    width: auto;
}

.objectives-selector{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-height: 40vh;
    height: 40vh;
}

.columns{
    /* border: 2px solid black; */
    /* background-color: pink; */

    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.levels-label,
.objectives-label,
.selected-objectives-label{
    border-bottom: 2px solid black;
    flex: 0 0 auto;
}

.levels-content{
    overflow-y: auto;
    flex: 1 1 auto;
}

.objectives-content{
    overflow-y: auto;
    flex: 1;
}

.selected-objectives-content{
    overflow-y: auto;
    flex: 1;
}

.table-item{
    border-bottom: 2px solid black;
}

.table-item:hover{
    cursor: pointer;
    background-color: pink;
}

.complete-table-item{
    background-color: lightgreen;
    border-bottom: 2px solid black;
}

.complete-table-item:hover{
    cursor: pointer;
    background-color: green;
}

.complete-table-item-inprogress{
    background-color: lightgreen;
    border-bottom: 2px solid black;
    cursor: default;
}

.selected-item{
    border-bottom: 2px solid black;
    background-color: lightgray;
}

.selected-item:hover{
    cursor: default;
}