*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: red solid 2px; */
}

.student-card-container{
    width: 50%;
    height: 100vh;
    background: blanchedalmond;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-background{
    width: 50%;
    aspect-ratio: 1;
    background: white;
    border-radius: min(32px, 3vw);

    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
}

.card-name{
    border-radius: min(32px, 3vw) min(32px, 3vw) 0 0;
    display: flex;
    align-items: center;

}

.card-field-last{
    border-radius: 0 0 min(32px, 3vw) min(32px, 3vw);
}
.card-field-first,
.card-field-second,
.card-field-third{
    display: flex;
    align-items: flex-start;
}

